.loadingContainer {
    min-height: 300px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
}

.dialog p {
    font-family: 'IBMPlexSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #2E2E2E;
}